@font-face {
  font-family: 'icomoon';
  src:  url('icomoon.eot?uoug2r');
  src:  url('icomoon.eot?uoug2r#iefix') format('embedded-opentype'),
    url('icomoon.woff2?uoug2r') format('woff2'),
    url('icomoon.ttf?uoug2r') format('truetype'),
    url('icomoon.woff?uoug2r') format('woff'),
    url('icomoon.svg?uoug2r#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-book:before {
  content: "\e91f";
}
.icon-climate:before {
  content: "\e972";
}
